
  </body>
  <footer class="footer mt-auto py-3 bg-light text-center">
    <div class="container-fluid">
      <span class="text-muted">@Jose Meza</span>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
</html>