<%- include('./partials/header') %>

<div class="container">
  <h1 class="display-1 text-center" style="margin: 0 auto">Pokemon App</h1>
  <div class="row">
    <div class="col"><%- include('./pokemonCard', {pokemon: pokemon, shiny: shiny}) %></div>
  </div>

  <div class="container">
    <form action="/" method="post">
      <div class="row">
        <div class="col-8">
          <input class="form-control" type="text" name="pokemon" id="pokemon" placeholder="Search for a pokemon" />
        </div>
        <div class="col-2">
          <button class="form-control" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>

  <%- include('./partials/footer') %>
</div>
